.dashboard-container {
  padding: 20px;
}

.dashboard-header {
  margin-bottom: 20px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Desktop */
  gap: 20px;
}

.dashboard-header h1{
    font-size: 27px;
    margin-top: 0px;
    text-align: center;
  }

.dashboard-header p{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

/* Tablet + Mobile */
@media (max-width: 992px) {
  .dashboard-grid {
    grid-template-columns: 1fr; /* 1 card */
  }
  .dashboard-header h1{
    font-size: 22px;
    margin-top: 0px;
    text-align: center;
  }

  .dashboard-header p{
    font-size: 16px;
    margin-top: 0px;
    text-align: center;
  }
  .dashboard-container {
  padding: 10px;
}
}

.user-card {
  background: linear-gradient(to bottom right, #0100EC, #FB36F4);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  color:white;
}

.user-card:hover {
  transform: translateY(-5px);
}

.delete-btn {
  margin-top: 15px;
  padding: 10px 14px;   /* Proper spacing */
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  width: fit-content;   /* Sirf text jitna */
  align-self: flex-start; /* Left align inside flex column */
  font-weight: 500;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background: #dc2626;
  transform: scale(1.05);
}